<h1> Total Results: <%= @search_count %> </h1>

<% @foods.each do |food| %>
    <p>Code: <%= food.code %></p>
    <p>description:<%= food.description %></p>
    <p>brand: <%= food.brand %></p>
    <p>ingredients: <%= food.ingredients%></p>
<% end %>