<h1>Search Results for "<%= @query %>"</h1>
<h3>Total Items Returned: <%= @foods[:total_hits] %></h3>
<% @foods[:foods].each do |food| %>
  <h4>GTIN/UPC: <%= food.id %></h4>
  <p>Description: <%= food.description %></p>
  <p>Brand: <%= food.brand %></p>
  <p>Ingredients: <%= food.ingredients %></p>
<% end %>
