<h1> Search Results for <%=@food%></h1>
Results found for<%=@food%>: <%= @total_count%>


<h3><% @foods.each do |food|%>
  UPC: <p><%= food.gtin_upc%></p>
  Description: <p><%= food.description%></p>
  Brand: <p><%= food.brand_owner%></p>
  Ingredients: <p><%= food.ingredients%></p>
<%end%></h3>