<h1> Search Results for <%=@food%></h1>
Results found for<%=@food%>: <%= @total_count%><br>


<% @foods.take(11).each do |food|%><br>
   <p>UPC: <%= food.gtin_upc%></p>
   <p>Description: <%= food.description%></p>
   <p>Brand: <%= food.brand_owner%></p>
  Ingredients: <%= food.ingredients%></p>
<%end%> 